<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/static/main.css">
    <div class="header2"></div>
    <div class="header_sign">SIGNTALKER</div>
</head>
<body class="body">

<div class="container">
    <!-- Ellipse 1 -->
    <div class="ellipse11 animate-ellipse-right"></div>
    <div class="ellipse12 animate-ellipse-right"></div>
    <div class="ellipse13 animate-ellipse-left"></div>
    <div class="ellipse14 animate-ellipse-right"></div>
    <div class="ellipse15 animate-ellipse-left"></div>
    <div class="ellipse16 animate-ellipse-right"></div>
    <div class="ellipse17 animate-ellipse-left"></div>
    <div class="ellipse18 animate-ellipse-right"></div>
    <div class="ellipse19 animate-ellipse-right"></div>
    <div class="ellipse20 animate-ellipse-left"></div>
    <div class="ellipse21 animate-ellipse-left"></div>
    <div class="ellipse22 animate-ellipse-right"></div>
    <!---<div class="button1"></div>-->
    <div class="video_box animate-box">
            <img src="{{ url_for('video_feed') }}" alt="Video Feed">
    </div>

</div>
<button class="start_button animate-box " id="startPauseButton">START</button>
<button class="language_button animate-box " id="idk" onclick="toggleLanguage()">Change Language (Slovak)</button>
<script src="/static/web.js"></script>
<script>
    let language = 'sk'; // Default language
    function toggleLanguage() {
        // Toggle language between English and Slovak
        if (language === 'en') {
            language = 'sk';
        } else {
            language = 'en';
        }
        // Update button text based on the selected language
        document.getElementById("idk").textContent = "Change Language (" + (language === "en" ? "English" : "Slovak") + ")";
        // Send a request to your Flask backend with the selected language
        fetch('/start_process', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ language: language }), // Pass the selected language
        })
        .then(response => {
            // Handle response if needed
            console.log(response);
        })
        .catch(error => {
            // Handle errors if any
            console.error('Error:', error);
        });
    }
</script>
    <p>Character: <span id="Character">Loading...</span></p>
    <p>Sentence: <span id="Sentence">Loading...</span></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('character', function (data) {
            var heartRateElement = document.getElementById('Character');
            heartRateElement.innerText = data.value;
            heartRateElement.style.animation = 'scaleUp 0.5s ease-in-out';
        });
        socket.on('sentence', function (data) {
            var heartRateElement = document.getElementById('Sentence');
            heartRateElement.innerText = data.value;
            heartRateElement.style.animation = 'scaleUp 0.5s ease-in-out';
        });
    </script>
</body>
</html>
