<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/sign_up.css">
    <div class="header animate-header"></div>
    <a href="/">
        <button class="sign animate-header">SIGNTALKER</button>
    </a>

</head>
<body class="body">
<script src="/static/web_login.js" defer></script>
<div>
    <div class="ellipse31 animate-ellipse-right"></div>
    <div class="ellipse35 animate-ellipse-left"></div>
    <div class="ellipse36 animate-ellipse-left"></div>
    <div class="ellipse37 animate-ellipse-left"></div>
    <div class="ellipse38 animate-ellipse-left"></div>
    <div class="ellipse39 animate-ellipse-right"></div>
    <div class="ellipse32 animate-ellipse-right"></div>
    <div class="ellipse33 animate-ellipse-right"></div>
    <div class="ellipse34 animate-ellipse-right"></div>
    <div class="ellipse28 animate-ellipse-right"></div>
    <div class="ellipse29 animate-ellipse-right"></div>
    <div class="ellipse30 animate-ellipse-right"></div>
    <div class="ellipse42 animate-ellipse-left"></div>
    <div class="ellipse43 animate-ellipse-left"></div>
    <div class="ellipse45 animate-ellipse-right"></div>
    <div class="ellipse40 animate-ellipse-left"></div>
    <div class="ellipse44 animate-ellipse-left"></div>
    <div class="ellipse41 animate-ellipse-left"></div>
</div>

<div>
    <div class="login_box animate-box"></div>
    <div class="sign_please animate-box">Please sign up.</div>
    <a href="/main">
        <input type="submit" class="sign_button animate-box" value="SIGN UP">
    </a>

    <div>
        <input type ="text" id="user" class="username_box_input animate-box" placeholder="username"></input>
    </div>
    <div>
        <input type ="password" id="pass" class="password_box_input animate-box" placeholder="password"></input>
    </div>
    <div>
        <input type="password" id="confirm" class="confirm_password_box_input animate-box" placeholder="confirm password">
    </div>

</div>

</body>
</html>