.body{
    background: #EDF6F9;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.animate-ellipse {
    animation: moveEllipse 1s forwards;
    opacity: 0;
}

@keyframes moveEllipse {
    0% {
        transform: translateX(100vw) translateY(100vh);
        opacity: 0;
    }
    50% {
        transform: translateX(50%) translateY(50%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1; /
    }
}

/* Ellipse 31 */
.ellipse-1{
    position: absolute;
    width: 327px;
    height: 340px;
    left: 720px;
    top: 586px;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.15s;


}



/* Ellipse 32 */
.ellipse-2{
    position: absolute;
    width: 327px;
    height: 340px;
    left: 866px;
    top: 391px;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.3s;

}


/* Ellipse 33 */
.ellipse-3{
    position: absolute;
    width: 327px;
    height: 340px;
    left: 1090px;
    top: 393px;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.45s;
}


/* Ellipse 34 */
.ellipse-4{
    position: absolute;
    width: 327px;
    height: 340px;
    left: 1217px;
    top: 138px;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.6s;
}



/* Ellipse 28 */
.ellipse-5{
    position: absolute;
    width: 396px;
    height: 392px;
    left: 906px;
    top: 518px;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.75s;
}



/* Ellipse 29 */
.ellipse-6{
    position: absolute;
    width: 396px;
    height: 392px;
    left: 1183px;
    top: 478px;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.9s;
}



/* Ellipse 30 */
.ellipse-7{
    position: absolute;
    width: 260px;
    height: 254px;
    left: 1287px;
    top: 264px;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 1.05s;
}

/* landing_page.css */


.animate-header {
    animation: moveHeader 1s forwards;
}

@keyframes moveHeader {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Section 1 */
.header{
    box-sizing: border-box;

    position: relative;
    width: 1440px;
    height: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background: #EDF6F9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    transform: translateY(-100%);
    font-family: monospace;
}


/* SIGNTALKER */
.sign{
    position: absolute;
    width: 350px;
    height: 60px;
    left: 54px;
    top: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 85px;
    /* identical to box height */
    font-family: monospace;
    color: #000000;
}


/* EMPOWERING COMMUNICATION THROUGH SIGN LANGUAGE */
.text{
    position: absolute;
    width: 600px;
    height: 300px;
    left: 135px;
    top: 175px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 70px;
    font-family: monospace;
    color: #000000;
}

/* Rectangle 5 */
.button1{
    position: absolute;
    width: 242px;
    height: 54px;
    left: 210px;
    top: 500px;
    border-width: 0px;
    background: #83C5BE;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    z-index: 2;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
}
.button1:hover{
    background-color:#006D77 ;
    color: white;
}

.hide-ellipse {
    animation: hideEllipse 1s forwards;
}

@keyframes hideEllipse {
    from {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    to {
        transform: translateX(100vw) translateY(100vh); /
        opacity: 0;
    }
}
