
.body{
    background: #EDF6F9;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}
/* Ellipse 31 */
.ellipse11{
    position: absolute;
    width: 327px;
    height: 340px;
    left: 720px;
    top: 714px;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.15s;
}
/* Ellipse 32 */
.ellipse12{
    position: absolute;
    width: 327px;
    height: 340px;
    left: 890px;
    top: 518px;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.3s;
}
/* Ellipse 37 */
.ellipse13{
    position: absolute;
    width: 327px;
    height: 340px;
    left: 217px;
    top: 636px;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.45s;
}
/* Ellipse 33 */
.ellipse14{
    position: absolute;
    width: 327px;
    height: 340px;
    left: 1113px;
    top: 466px;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.6s;
}
/* Ellipse 35 */
.ellipse15{
    position: absolute;
    width: 327px;
    height: 340px;
    left: -27px;
    top: 544px;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.75s;
}
/* Ellipse 34 */
.ellipse16{
    position: absolute;
    width: 327px;
    height: 340px;
    left: 1234px;
    top: 220px;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 0.9s;
}
/* Ellipse 36 */
.ellipse17{
    position: absolute;
    width: 327px;
    height: 340px;
    left: -145px;
    top: 348px;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 1.05s;
}
/* Ellipse 30 */
.ellipse18{
    position: absolute;
    width: 260px;
    height: 254px;
    left: 1319px;
    top: 351px;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 1.2s;
}
/* Ellipse 28 */
.ellipse19{
    position: absolute;
    width: 396px;
    height: 392px;
    left: 900px;
    top: 636px;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 1.35s;
}
/* Ellipse 39 */
.ellipse20{
    position: absolute;
    width: 396px;
    height: 392px;
    left: 19px;
    top: 662px;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 1.5s;
}
/* Ellipse 38 */
.ellipse21{
    position: absolute;
    width: 396px;
    height: 392px;
    left: -179px;
    top: 518px;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 1.75s;
}
/* Ellipse 29 */
.ellipse22{
    position: absolute;
    width: 396px;
    height: 392px;
    left: 1183px;
    top: 560px;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    animation-delay: 1.9s;
}
/* Rectangle 6 */
.video_box{
    position: absolute;
    width: 486px;
    height: 504px;
    left: 138px;
    top: 150px;
    border-radius: 50%;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.video_box img{
    width: 486px;
    height: 504px;
    left: 138px;
    top: 150px;
    border-radius: 50%;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    object-fit: cover; /* This ensures the video maintains its aspect ratio */

}
/* Section 2 */
.header2{
    box-sizing: border-box;

    position: relative;
    width: 1440px;
    height: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background: #EDF6F9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;

}
/* SIGNTALKER */
.header_sign{
    position: absolute;
    width: 350px;
    height: 60px;
    left: 54px;
    top: 8px;

    font-family: monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 85px;
    /* identical to box height */

    color: #000000;
}

.animate-ellipse-right {
    animation: moveEllipseRight 1s forwards;
    opacity: 0;
}
/* Keyframes */
@keyframes moveEllipseRight {
    0% {
        transform: translateX(100vw) translateY(100vh);
        opacity: 0;
    }
    50% {
        transform: translateX(50%) translateY(50%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

.animate-ellipse-left {
    animation: moveEllipseLeft 1s forwards;
    opacity: 0;
}
/* Keyframes */
@keyframes moveEllipseLeft {
    0% {
        transform: translateX(-100vw) translateY(100vh);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

.animate-box {
    animation: MoveBox 1s forwards;
    opacity: 0;
}

@keyframes MoveBox {
    0% {
        transform: translateX(0vw) translateY(100vh);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

}

/* Rectangle 5 */
.start_button{
    position: absolute;
    width: 242px;
    height: 54px;
    left: 260px;
    top: 590px;
    border-width: 0px;
    background: #83C5BE;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    z-index: 2;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3s;
    font-family: monospace;
}
.start_button:hover{
    background-color:#006D77 ;
    color: white;
}
.language_button{
    position: absolute;
    width: 242px;
    height: 54px;
    left: 400px;
    top: 590px;
    border-width: 0px;
    background: #83C5BE;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    z-index: 2;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3s;
    font-family: monospace;
}
.language_button:hover{
    background-color:#006D77 ;
    color: white;
}
.started {
    background-color: #006D77 !important; /* !important zajistí, že tento styl přepíše předchozí */
    color: white !important;
}



