.body{
    background: #EDF6F9;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 1;
}
/* Ellipse 31 - done */
.ellipse11{
    position: absolute;
    width: 23vw;
    height: 45vh;
    left: 50vw;
    top: 88vh;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 0.15s;
}
/* Ellipse 32 - done */
.ellipse12{
    position: absolute;
    width: 23vw;
    height: 45vh;
    left: 62vw;
    top: 64vh;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 0.3s;
}
/* Ellipse 37 - done */
.ellipse13{
    position: absolute;
    width: 23vw;
    height: 45vh;
    left: 15vw;
    top: 78.5vh;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 0.45s;
}

/* Ellipse 33 - done */
.ellipse14{
    position: absolute;
    width: 23vw;
    height: 45vh;
    left: 77vw;
    top: 57.5vh;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 0.6s;
}

/* Ellipse 35 - done */
.ellipse15{
    position: absolute;
    width: 23vw;
    height: 45vh;
    left: -2vw;
    top: 67vh;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 0.75s;
}

/* Ellipse 34 - done */
.ellipse16{
    position: absolute;
    width: 23vw;
    height: 45vh;
    left: 86vw;
    top: 27vh;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 0.9s;
}


/* Ellipse 36 */
.ellipse17{
    position: absolute;
    width: 23vw;
    height: 45vh;
    left: -10vw;
    top: 43vh;
    border-radius: 50%;
    background: #FFDDD2;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 1.05s;
}

/* Ellipse 30 */
.ellipse18{
    position: absolute;
    width: 18vw;
    height: 33vh;
    left: 92vw;
    top: 43vh;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 1.2s;
}

/* Ellipse 28 */
.ellipse19{
    position: absolute;
    width: 27.5vw;
    height: 48vh;
    left: 62.5vw;
    top: 78vh;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 1.35s;
}

/* Ellipse 39 */
.ellipse20{
    position: absolute;
    width: 27.5vw;
    height: 48vh;
    left: 1vw;
    top: 81vh;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 1.5s;
}

/* Ellipse 38 */
.ellipse21{
    position: absolute;
    width: 27.5vw;
    height: 48vh;
    left: -12vw;
    top: 63vh;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 1.75s;
}

/* Ellipse 29 */
.ellipse22{
    position: absolute;
    width: 27.5vw;
    height: 48vh;
    left: 82vw;
    top: 69vh;
    border-radius: 50%;
    background: #E29578;
    box-shadow: 0 1.23vh 1.23vh rgba(0, 0, 0, 0.25);
    animation-delay: 1.9s;
}



/* Rectangle 6 */
.video_box{
    position: absolute;
    width: 33vw;
    height: 75vh;
    left: 10vw;
    top: 20vh;
    border-radius: 12.5%;
    background: #D9D9D9;
    box-shadow: 0 0.49vw 0.49vw rgba(0, 0, 0, 0.25);
}
/* Rectangle 6 */
/*.video_box img{
    width: 33vw;
    height: 75vh;
    left: 10vw;
    top: 20vh;
    border-radius: 12.5%;
    background: #D9D9D9;
    box-shadow: 0 0.49vw 0.49vw rgba(0, 0, 0, 0.25);
    object-fit: cover;
}
*/
/* Section 2 */
.header2{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 14vh;
    box-shadow:  0 0 0.69vh rgba(0, 0, 0, 0.25);
    background: #EDF6F9;
    border: 0.07vw solid rgba(0, 0, 0, 0.1);
    border-radius: 2%;
    transform: translateY(-100%);

}
/* SIGNTALKER */
.header_sign{
    position: absolute;
    width: 24.31vw;
    height: 8vh;
    left: 3.75vw;
    top: 3vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2.08vw;
    line-height: 8.5vh;
    color: #000000;
    cursor: pointer;
    background-color: #EDF6F9;
    border-width: 0;
    text-align: start;
}

.animate-ellipse-right {
    animation: moveEllipseRight 1s forwards;
    opacity: 0;
}
/* Keyframes */
@keyframes moveEllipseRight {
    0% {
        transform: translateX(100vw) translateY(100vh);
        opacity: 0;
    }
    50% {
        transform: translateX(50%) translateY(50%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

.animate-ellipse-left {
    animation: moveEllipseLeft 1s forwards;
    opacity: 0;
}
/* Keyframes */
@keyframes moveEllipseLeft {
    0% {
        transform: translateX(-100vw) translateY(100vh);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

.animate-box {
    animation: MoveBox 1s forwards;
    opacity: 0;
}


@keyframes MoveBox {
    0% {
        transform: translateX(0vw) translateY(100vh);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

}

/* Rectangle 5 */
.start_button {
    position: absolute;
    width: 16vw;
    height: 6vh;
    left: 18vw;
    top: 86vh;
    border-width: 0;
    background: #83C5BE;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    z-index: 2;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3s;
    font-family: 'Inter';
    cursor: pointer;
}


.start_button:hover{
    background-color:#006D77 ;
    color: white;
}
.started {
    background-color: #006D77 !important;
    color: white !important;
}

.start_button.started:hover {
    background-color: #83C5BE;
    color: black;
}

.start_button:hover:not(.started) {
    background-color: #006D77;
    color: white;
}



/* Rectangle 7 */
.text_box{
    position: absolute;
    width: 33vw;
    height: 75vh;
    left: 57vw;
    top: 20vh;

    background: #EDF6F9;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.125);
    border-radius: 12.5%;
}

.text_box_p {
    position: absolute;
    width: 26vw;
    height: 70vh;
    top: 32vh;
    left: 60.5vw;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    text-align: start;
    font-size: larger;
    font-family: 'Inter';
}


/* Rectangle 8 */
.language_button {
    position: absolute;
    width: 16vw;
    height: 6vh;
    left: 65vw;
    top: 22vh;
    border-width: 0;
    background: #83C5BE;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    z-index: 2;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3s;
    font-family: 'Inter';
    cursor: pointer;
}

.language_button:hover{
    background-color:#006D77 ;
    color: white;
}
.slovensky {
    background-color: #006D77 !important;
    color: white !important;
}
.slovensky:hover{
    background-color: #83C5BE;
    color: black;
}

.animate-header {
    animation: moveHeader 1s forwards;
}

@keyframes moveHeader {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


/* Rectangle 9 */
.logout{
    position: absolute;
    width: 12vw;
    height: 6vh;
    left: 84vw;
    top: 4vh;
    border-width: 0;
    background: #006D77;
    color: #FFFFFF;
    box-shadow: inset 0 0.56vw 0.56vw rgba(0, 0, 0, 0.25);
    border-radius: 3.47vw;
    z-index: 2;
    text-align: center;
    font-size: 1.4vw;
    font-family: 'Inter';
    line-height: 6vh;
    cursor: pointer;
}

.logout:hover{
    background-color: #E29578;
    color: black;
}