<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/main.css">
    <div class="header2 animate-header"></div>
    <a href="/">
        <button class="header_sign animate-header">SIGNTALKER</button>
    </a>
    <a href="/logout">
        <button class="logout animate-header">Log out</button>
    </a>

</head>
<body class="body">

<div class="container">
    <!-- Ellipse 1 -->
    <div class="ellipse11 animate-ellipse-right"></div>
    <div class="ellipse12 animate-ellipse-right"></div>
    <div class="ellipse13 animate-ellipse-left"></div>
    <div class="ellipse14 animate-ellipse-right"></div>
    <div class="ellipse15 animate-ellipse-left"></div>
    <div class="ellipse16 animate-ellipse-right"></div>
    <div class="ellipse17 animate-ellipse-left"></div>
    <div class="ellipse18 animate-ellipse-right"></div>
    <div class="ellipse19 animate-ellipse-right"></div>
    <div class="ellipse20 animate-ellipse-left"></div>
    <div class="ellipse21 animate-ellipse-left"></div>
    <div class="ellipse22 animate-ellipse-right"></div>
    <!---<div class="button1"></div>-->
    <!-- Video box -->
    <div class="video_box animate-box">
        <video id="webcam" autoplay playsinline></video>
    </div>
    <div class="processed_video_box animate-box">
        <video id="processed_webcam" autoplay playsinline controls></video>
    </div>
    <!-- Text box -->
    <div class="text_box animate-box"></div>
    <div class="text_box_p animate-box">
            <p>Sentence: <span id="Sentence">Loading...</span></p>
    </div>


 </div>

 <button class="start_button animate-box " id="startPauseButton">PAUSE</button>
 <button class="language_button animate-box " id="LanguageButton" onclick="toggleLanguage()">Slovak</button>
 <script src="/static/main.js"></script>
<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="/static/main.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('sentence', function (data) {
        var heartRateElement = document.getElementById('Sentence');
        heartRateElement.innerText = data.value;
        heartRateElement.style.animation = 'scaleUp 0.5s ease-in-out';
    });

    // Video capture from webcam
    var video = document.getElementById('webcam');
    var recordedChunks = [];
    var mediaRecorder = null;

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;

                // Start recording
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.ondataavailable = function(e) {
                    if (e.data.size > 0) {
                        recordedChunks.push(e.data);
                    }
                };
                mediaRecorder.start(200); // For every 200ms the stream data will be available
            })
            .catch(function (error) {
                console.log("Something went wrong!");
            });
    }

    // Function to send video to server
    function sendVideoToServer() {
        var blob = new Blob(recordedChunks, {
            type: 'video/webm'
        });

        var formData = new FormData();
        formData.append('video', blob);

        fetch('/upload_video', {
            method: 'POST',
            body: formData
        }).then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.blob();  // get the response data as a Blob
        }).then(blob => {
            var url = URL.createObjectURL(blob);  // create an object URL for the Blob

            // Set the source for the processed video element to the object URL
            var processedVideo = document.getElementById('processed_webcam');
            processedVideo.src = url;
        }).catch(e => {
            console.log('There was a problem with the fetch operation: ' + e.message);
        });

        // Clear recorded chunks
        recordedChunks = [];
    }
</script>
 </body>
 </html>
