<!DOCTYPE html>
<html>
<head>
    <title>Image Processing App</title>
    <link rel="stylesheet" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="header2 animate-header"></div>
    <a href="/">
        <button class="header_sign animate-header">SIGNTALKER</button>
    </a>

    <a href="/login">
        <button class="logout animate-header">Logout</button>
    </a>
</head>
<body class="body">
    <!---<h1>Image Processing App</h1>--->
    <form action="/process_image" method="post" enctype="multipart/form-data">
        <label class="start_button animate-box" for="file">Select Image</label>
        <input class="start_button animate-box" type="file" id="file" name="file" accept="image/*" style="display: none;">
        <input class="language_button animate-box" type="submit" value="Upload Image">
    </form>
    <h2>Processed Image:</h2>
    {% if img_data %}
        <img class ="image_box animate-box "  style="padding-left: 10vw; font-family: 'Inter'" src="{{ img_data }}" alt="Processed Image">
    {% else %}
        <p  style="padding-left: 10vw; font-family: 'Inter'">No image processed yet.</p>
    {% endif %}


<div class="container">
    <!-- Ellipse 1 -->
    <div class="ellipse11 animate-ellipse-right"></div>
    <div class="ellipse12 animate-ellipse-right"></div>
    <div class="ellipse13 animate-ellipse-left"></div>
    <div class="ellipse14 animate-ellipse-right"></div>
    <div class="ellipse15 animate-ellipse-left"></div>
    <div class="ellipse16 animate-ellipse-right"></div>
    <div class="ellipse17 animate-ellipse-left"></div>
    <div class="ellipse18 animate-ellipse-right"></div>
    <div class="ellipse19 animate-ellipse-right"></div>
    <div class="ellipse20 animate-ellipse-left"></div>
    <div class="ellipse21 animate-ellipse-left"></div>
    <div class="ellipse22 animate-ellipse-right"></div>
    <!---<div class="button1"></div>-->
     <div class="video_box animate-box"></div>



 </div>

</body>
</html>
